.whySTTS{
    position: relative;
    top: 100px;
    height: 140px;
    width: 0;
    white-space: nowrap;
    transform: translate(0px, 110px);
    transform: rotate(-90deg);
    float: left;
}
.card-img-left {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    padding-right: 1em;
    margin-bottom: -1.25em;
}
.hoverCard{
    transition: 0.5s ease all;
}
.card-gedung{
    background: url(http://localhost/Project-Aplin-2.0/ProjectWeb2.0/assets/gedung.jpg);
    background-repeat: no-repeat;
    height: 600px;
}
.fontSubtitle{
    font-family: "Frank Ruhl Libre",serif;
    color: #76adff;
    margin-bottom: .8em;
    font-weight: 300;
}

.hoverCard:hover{
    -webkit-box-shadow: 10px 21px 29px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 21px 29px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 21px 29px -1px rgba(0,0,0,0.75);
    transition: 0.5s ease all;
}