.whySTTS{
    position: relative;
    top: 100px;
    height: 140px;
    width: 0;
    white-space: nowrap;
    transform: translate(0px, 110px);
    transform: rotate(-90deg);
    float: left;
}
.card-img-left {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    padding-right: 1em;
    margin-bottom: -1.25em;
}