.text-white{
    color:white;
}
.tambah{
    position: absolute;
    margin-left:330px;
    margin-top:50px;
}
.bg-stts{
    
    background-color: white;
    /* position: relative;
    top:50px;
    left:100px; */
    position: absolute;
    margin-left: 15%;
    top: 30px;
    width:70%;
    z-index: 99;
}
.atas{
    position: relative;
    top:-120px;
}
.nav-cus{
    position: relative;
    float:right;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.word-space{
    padding-left:50px;
}

.tengah{
    padding-top: 10px;
}