.kotakMain{
    padding:10px;
    margin:15px;
    border:1px solid black;
    height:125px;
    width:30%;
    float:left;
    box-sizing:border-box;
}
.Mid{
    margin-left:5%;
}
.DosenImg{
    width:100px;
    border-radius:50%;
    float:left;
}
.DosenText{
    margin:10px;
    margin-right:0px;
}
.DosenText span{
    margin-left:20px;
}
.kotakMain:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.font-15{
    font-size:15px
}